body {
    font-family: "Times New Roman", Times, serif;
    background-color: grey; 
    margin: 0; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url('../images/numbers.png');
}


#container {
    height: 350px;
    width: 350px;
    padding: 20px;
    background-size: cover;
    border: 2px solid black; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    background-color: white;
    text-align: center;
}
