body {
    font-family: "Times New Roman", Times, serif;
    background-color: grey; /* Change background to grey */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('../images/numbers.png');
}


#container {
    height: 350px;
    width: 350px;
    padding: 20px;
    background-size: cover;
    border: 2px solid black; /* Optional: add a border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Optional: add a shadow */
    background-color: white;
    text-align: center;
}
